.mb-3 {
    margin-bottom: 0.75rem;
}

.mt-5 {
    margin-top: 1.25rem;
}

.mr-5 {
    margin-right: 1.25rem;
}

.font-bold {
    font-weight: bold;
}

.counter-hero__section {
    position: relative;
    min-height: 100vh;
    background-color: #EBF8FF;
    display: flex;
    align-items: center;
    justify-content: center;
}

.counter-hero__section-container {
    max-width: 1200px;
    z-index: 50;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 80px;
    margin: 0 auto;
    padding: 7rem 1.25rem;
}

@media (max-width: 640px) {
    .counter-hero__section-container {
        padding: 7rem 1.25rem; 
    }
}

@media (min-width: 768px) {
    .counter-hero__section-container {
        padding: 0 1.25rem; 
    }
}

@media (min-width: 1024px) {
    .counter-hero__section-container {
        flex-direction: column; 
    }
}

/* Default to flex-col for mobile */
.counter-hero__section-container {
    flex-direction: row;
}

.next-price__wrapper {
    width: fit-content;
    margin-bottom: 1.25rem;
}

.next-price__wrapper-container {
    text-align: center;
    width: fit-content;
    padding: 1.25rem 2rem 2rem 2rem;
    position: relative;
    margin-bottom: 1.25rem;
    border: 2px solid #b9e1f1;
    border-radius: 3rem;
}

.countdown-item {
    padding: 0.75rem 0.75rem;
    display: flex;
    flex-direction: column;
    border-radius: 1rem;
}

@media  screen and (min-width: 768px) {
    .countdown-item {
        padding: 0.60rem 2rem;
    }
}

.countdown-item span {
    font-size: 1.5rem;
}

.next-price {
    position: absolute;
    top: -32px;
    right: -32px;
    width: fit-content;
    background-color: #fff;
    padding: 0.25rem 1.25rem;
    border-radius: 1rem;
}

.next-price__text {
    font-weight: 600;
    font-size: 0.65rem;
}

.next-price__amount {
    font-weight: bold;
    font-size: 0.75rem;
}

@media (max-width: 720px) {
    .counter-feed {
        font-size: 15px!important;
    }
    .next-price {
        right: 50%;
        left: 50%;
        top: -10px;
        transform: translate(-50%, -50%);
    }
}

.countdown-item__container {
    display: flex;
    gap: 0.75rem;
    color: white;
}

.text-color {
    color: #426692;
}

.span-text__color {
    color: #02A9EB;
}

.border-color {
    border: 2px solid #b9e1f1;
    border-radius: 3rem;
}

.main-section__wrapper h1 {
    max-width: 36rem;
    font-size: 2.5rem;
    /* line-height: 0; */
    font-weight: bold;
    text-align: center;
}

@media screen and (min-width: 768px) {
    .main-section__wrapper h1 {
        font-size: 3rem;
        text-align: right;
        line-height: 1.25;
    }
}

.button-wrapper {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 1.25rem;
    margin-top: 2.5rem;
}

@media screen and (max-width: 768px) {
     .button-wrapper {
        justify-content: center;
    }
}

@media screen and (min-width: 450px) {
    .button-wrapper {
        margin-top: 1.25rem;
    }
}



.custom-button {
    width: fit-content;
    font-size: 1.125rem;
    display: flex;
    justify-content: flex-end;
    padding: 0.5rem 1.25rem;
    border-radius: 0.5rem;
    color: white;
    font-weight: 600;
    background: linear-gradient(to left, #1B66B1, #0899DD);
    transition: all 0.3s;
    z-index: 20;
}

.text-heading {
    color: #03203c;
}

.text-description {
    color: #0c4f91;
}

.custom-button:hover {
    background: linear-gradient(to left, #0899DD, #1B66B1);
}

.connect-wallet__button,
.horizontal-rule {
    background-color: #1B66B1;
}

.bg-countdown {
    width: fit-content;
    font-weight: 700;
    background: linear-gradient(to bottom, #1B66B1, #0899DD);
    transition: all 0.3s;
}

.form-card__bg {
    background: linear-gradient(to bottom left, #c4def7 5%, #eef0f6 30%, #f8f8f8 60%, #ffffff 100%);
    width: 100%;
    max-width: 28rem;
    padding: 1.5rem 1.5rem 1.25rem 1.5rem;
    border-radius: 1rem;
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}

.form-card__bg-heading {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.form-card__bg-heading h2 {
    font-weight: bold;
    font-size: 1rem;
}

.form-card__bg-heading p {
    font-size: 0.75rem;
}

.form-card__bg-heading span {
    font-weight: 600;
}

.form-card__bg-heading hr {
    height: 0.75rem;
    border: 0;
    outline: none;
    border-radius: 20px;
    width: 100%;
    margin: 0.75rem 0;
}

.deposit-method__button {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 1rem 0;
}

.deposit-method__button > div:nth-child(1),
.deposit-method__button > div:nth-child(2) {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    cursor: pointer;
    gap: 0.125rem;

}

.dropdown {
    position: relative;
    display: inline-block;
    width: 100%;
}

.dropdown > div:nth-child(1) {
    border: 1px solid #ccc;
}
.dropdown > div:nth-child(1) img {
    width: 1.25rem;
    height: 1.25rem;
    margin-right: 0.75rem;
}

.token-swap {
    position: relative;
}

.token-swap > div:nth-child(1) {
    display: flex;
    border: 1px solid #ccc;
    border-radius: 1rem;
    padding-right: 0.75rem;
    padding-left: 0.25rem;
}


.dropdown-selected {
    padding: 10px;
    border-radius: 1rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-grow: 1;
    padding: 0.75ren;
}

.dropdown-selected img {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.dropdown-selected .text {
    flex-grow: 1;
}

.dropdown-selected .chevron {
    margin-left: auto;
}

.dropdown-options {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    /* border: 1px solid #ccc; */
    background-color: white;
    z-index: 1000;
}

.dropdown-options .option {
    padding: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.dropdown-options .option img {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.dropdown-options .option:hover {
    background-color: #f1f1f1;
}

.flex {
    display: flex;
    align-items: center;
}

/* Second Dropdown Styles */
.dropdown-second {
    position: relative;
    width: 50px;
    margin-right: 15px;
    border-radius: 1.5rem;
    background-color: transparent;
}

.dropdown-second .dropdown-selected {
    padding: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* border-radius: 0.375rem 0 0 0.375rem; */
    width: 100%;
}

.dropdown-second .dropdown-selected img {
    width: 20px;
    height: 20px;
}

.dropdown-second .dropdown-selected .chevron {
    margin-left: auto;
}

.dropdown-second .dropdown-options {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: white;
    z-index: 1000;
}

.dropdown-second .dropdown-options .option {
    padding: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.dropdown-second .dropdown-options .option img {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.dropdown-second .dropdown-options .option:hover {
    background-color: #f1f1f1;
}

.input-group {
    position: relative;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.input-group input {
    width: 100%;
    padding-right: 50px; 
    outline: none;
    background-color: transparent;
}

.input-group button {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    padding: 0 10px;
    border: none;
    background-color: transparent; 
    color: gray;
    font-weight: bold;
    cursor: pointer;
}

.swap-icon {
    cursor: pointer;
    font-size: 1.5rem;
    margin: 0 10px;
}

.relative {
    position: relative;
}

.swap-icon-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 5px 10px;
    border-radius: 50%;
    border: 1px solid rgb(230, 226, 226);
}

.active-underline {
    border-bottom: 1px solid blue
}
.active {
    color: #02A9EB; /* Set active text color */
}
.inactive {
    color: gray; /* Set inactive text color */
}

.token-swap__to {
    margin-bottom: 1rem;
    margin-top: 0.5rem;
}

.token-swap__to > div:nth-child(1) {
    border-radius: 1rem;
    padding: 0.75rem;
    display: flex;
    border: 1px solid #ccc;
}

.token-swap__to-image_wrapper img {
    width: 1.25rem;
    height: 1.25rem;

}

.token-swap__to > div:nth-child(1) input {
    outline: none;
    height: 100%;
    width: 100%;
    background-color: transparent;
}

.token-swap__button-wrapper {
    display: flex;
    width: 100%;
}

.token-swap__button-wrapper button {
    padding: 0.5rem 1rem;
    width: 100%;
    color: #fff;
    font-weight: 600;
    border-radius: 999px;
}

.coming-soon__wrapper {
    width: 100%;
}

.coming-soon__wrapper form > div:nth-child(1) {
    margin-bottom: 1rem;
    margin-top: 0.5rem;
    width: 100%;
}

.coming-soon__wrapper form > div:nth-child(1) .form-field {
    display: flex;
    border: 1px solid #ccc;
    border-radius: 1rem;
    padding: 0.75rem;
}

.coming-soon__wrapper form > div:nth-child(1) .form-field img {
    width: 1.25rem;
    height: 1.25rem;
    margin-right: 1.25rem;
}


.forn-input__field {
    outline: none;
    height: 100%;
    width: 100%;
    background-color: transparent;
}

.coming-soon__wrapper form > div:nth-child(2) {
    position: relative;
    width: 100%;
}

.coming-soon__wrapper form > div:nth-child(2) .coming-soon__token-swap {
    margin-bottom: 1rem;
    margin-top: 0.5re;
}

.coming-soon__wrapper form > div:nth-child(2) .coming-soon__token-swap > div,
.coming-soon__wrapper form > div:nth-child(2) .coming-soon__token-swap-from > div {
    border-radius: 1rem;
    padding: 0.75rem;
    display: flex;
    border: 1px solid #ccc;
}

.coming-soon__wrapper form > div:nth-child(2) .coming-soon__token-swap-from {
    margin-bottom: 1rem;
    margin-top: 0.5rem;
}

.history-transaction {
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 2px solid #ccc;
    margin-top: 1rem;
}

.history-transaction > div {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    color: #aaa5a5;
    font-weight: normal;
    margin-top: 1rem;
}

.rounds-details {
    background-color: #fff;
    padding: 0.5rem 1rem;
    margin-top: 0.5rem;
    border-radius: 0.5rem;
}

.rounds-details > div {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    color: #aaa5a5;
    font-weight: normal;
}